<% provide :title, t(".title") %>
<div class="login-container">
  <div class="logo-section">
    <%= image_tag "logo.png", alt: "Logo", class: "logo" %>
  </div>

  <div class="login-form">
    <div class="language-switcher">
      <div class="dropdown">
        <%= link_to "#", id: "language", class: "dropdown-toggle", data: { toggle: "dropdown" } do %>
          <%= t ".language", class: "dropdown" %>
        <% end %>
        <ul id="dropdown-menu" class="dropdown-menu">
          <li><%= link_to t(".english"), locale: :en %></li>
          <li><%= link_to t(".vietnamese"), locale: :vi %></li>
        </ul>
      </div>
    </div>

    <h2><%= t ".title" %></h2>
    <%= render "shared/error_messages", object: @user %>

    <%= form_for @user, url: signup_path do |f| %>
      <div class="form-group">
        <%= f.label :user_name %>
        <%= f.text_field :user_name, class: "form-control" %>
      </div>

      <div class="form-group">
        <%= f.label :email %>
        <%= f.email_field :email, class: "form-control" %>
      </div>

      <div class="form-group">
        <%= f.label :phone %>
        <%= f.text_field :phone, class: "form-control" %>
      </div>

      <div class="form-group">
        <%= f.label :password %>
        <%= f.password_field :password, class: "form-control" %>
      </div>

      <div class="form-group">
        <%= f.label :password_confirmation %>
        <%= f.password_field :password_confirmation, class: "form-control" %>
      </div>

      <div class="form-group">
        <%= f.submit t(".signup"), class: "btn-submit" %>
      </div>
    <% end %>

    <div class="register-link">
      <span class="sigup-text">
        <%= t ".already_have_account?" %>
      </span>
      <span class="signup-link">
        <%= link_to t(".login_now"), login_path %>
      </span>
    </div>
    <%= render "shared/access_without_login" %>
  </div>
</div>
