<tr>
  <td>
    <%= link_to "##{order.id}", order_path(order) %>
  </td>
  <td class="product-image">
    <%= order_item_image(order, order_path(order)) %>
  </td>
  <td><%= status_name(order.status) %></td>
  <td class="cart-container">
    <span class="total-price"><%= format_currency(order.total) %></span>
  </td>
  <td>
    <div><%= order.created_at.strftime(Settings.time_format) %></div>
    <div><%= order.created_at.strftime(Settings.date_format) %></div>
  </td>
  <td>
    <div><%= order.updated_at.strftime(Settings.time_format) %></div>
    <div><%= order.updated_at.strftime(Settings.date_format) %></div>
  </td>
  <% if order.status_cancelled? %>
    <td><%= order.refuse_reason %></td>
  <% elsif order.status_pending? %>
    <td>
      <%= form_with url: update_status_order_path(order, status: :cancelled), method: :patch, local: true do |form| %>
        <div class="form-group">
          <%= form.label :refuse_reason, t(".refuse_reason_by_user") %>
          <%= form.text_area :refuse_reason, class: "form-control", required: true %>
        </div>
        <%= form.submit t(".cancel"), class: "btn btn-danger mt-2", data: {turbo_confirm: t(".confirm_cancel_order")} %>
      <% end %>
    </td>
  <% elsif order.status_delivered? %>
     <% if can_repurchase?(order) %>
        <td>
          <%= link_to t("orders.repurchase"), order_path(order), class: "btn btn-secondary" %>
        </td>
      <% end %>

      <% if can_review?(order) %>
        <td>
          <%= link_to t("orders.review"), order_path(order), class: "btn btn-primary" %>
        </td>
      <% end %>
  <% end %>
</tr>
