<%= turbo_stream.remove "cart_#{@cart.id}" %>

<%= turbo_stream.replace "cart_total_sum" do %>
  <div id="cart_total_sum">
    <p class="text-center total-price">
      (<%= @count %> <%= t ".product_count" %>)
      <%= @total %>
    </p>
  </div>
<% end %>
