<% provide :title, t(".title") %>
<h1><%= t ".title" %></h1>
<div class="row">

  <aside class="col-md-10">
    <% if @carts.any? %>
      <table class="cart-container">
        <%= render "cart_header" %>
        <tbody>
          <%= render partial: "cart_details", collection: @carts, as: :cart %>
        </tbody>
      </table>
      <%== pagy_bootstrap_nav(@pagy) %>
    <% else %>
      <div>
        <p><%= t ".empty_cart" %></p>
      </div>
    <% end %>
  </aside>
  <div class="col-md-2 d-flex flex-column">
    <div class="total-container">
      <h3 class="text-center title"><%= t ".total_cart" %></h3>
      <div id="cart_total_sum">
        <p class="text-center total-price">
          (<span id="cart_items_count">0</span><%= t ".product_count" %>)
          <span id="cart_items_total">0</span>
        </p>
      </div>
      <div class="d-flex justify-content-center mt-4 mb-4">
        <%= link_to t(".buy"), orders_order_info_path, class: "btn btn-buy" %>
    </div>
  </div>
</div>
