<%= turbo_stream.replace "cart_button_#{@cart.product_id}" do %>
  <div id="cart_button_<%= @cart.product_id %>">
    <%= render partial: "carts/cart_button", locals: {cart: @cart, product_id: @cart.product_id} %>
  </div>
<% end %>

<% if current_user %>
  <% if @cart.quantity > 0 %>
    <%= turbo_stream.replace "cart_page_#{@cart.product_id}" do %>
      <td class="quantity-container" id="cart_page_<%= @cart.product_id %>">
        <%= button_to "-", cart_path(@cart, action_type: "decrement", product_id: @cart.product_id), method: :patch, class: "quantity-btn", data: {turbo: "true"} %>
        <input type="text" class="quantity-input" value="<%= @cart.quantity %>" readonly>
        <%= button_to "+", cart_path(@cart, action_type: "increment", product_id: @cart.product_id), method: :patch, class: "quantity-btn", data: {turbo: "true"} %>
      </td>
    <% end %>

    <%= turbo_stream.replace "total_price_#{@cart.product_id}" do %>
      <td class="total-price" id="total_price_<%= @cart.product_id %>">
        <span class="value cart_<%= @cart.id %>"><%= format_price calculate_product_price(@cart.product, @cart.quantity) %></span>
      </td>
    <% end %>
  <% else %>
    <%= turbo_stream.remove "cart_#{@cart.id}" %>
  <% end %>
<% end %>

<%= turbo_stream.replace "cart_total_sum" do %>
  <div id="cart_total_sum">
    <p class="text-center total-price">
      (<span id="cart_items_count"><%= @count %></span><%= t ".product_count" %>)
      <span id="cart_items_total"><%= format_price @total %></span>
    </p>
  </div>
<% end %>
