<div class="order-item">
  <div class="item-image">
    <%= link_to product_path(order_item.product) do %>
      <%= image_tag(resized_image(order_item.product), alt: order_item.product.product_name, class: "order-image") %>
    <% end %>
  </div>
  <div class="item-details">
    <p><%= order_item.product.product_name %></p>
    <p><%= order_item.quantity %> x <span class="item-price"><%= format_currency order_item.product.price %></span></p>
  </div>
  <p><%= format_currency order_item[:item_total] %></p>
</div>

<div class="row feedback-row d-flex align-items-stretch">
  <div class="col-md-6 feedback-col d-flex flex-column">
    <div class="feedback-info">
      <p><strong><%= t("feedbacks.rating") %>: </strong>
        <%= render 'rating_stars', rating: feedback.rating %>
      </p>
      <p><strong><%= t("feedbacks.comment") %>: </strong><%= feedback.comment %></p>
      <% if feedback.image.attached? %>
        <div class="feedback-image">
          <strong><%= t("feedbacks.image") %>: </strong>
          <img id="preview_image" src="<%= url_for(resized_image(feedback)) %>" />
        </div>
      <% else %>
        <img id="preview_image" src="#" alt="Image Preview" style="display: none; max-width: 100%; margin-top: 10px;" />
      <% end %>
    </div>
  </div>
  <div class="col-md-6 feedback-col d-flex flex-column">
    <div id="cart_button_<%= order_item.product.id %>">
      <%= link_to t("carts.cart_button.add_to_cart"), product_path(order_item.product), class: 'btn btn-primary' %>
    </div>
  </div>
</div>
<hr class="review-divider">
