<div class="admin-product-show">
  <%= search_form_for @q, url: admin_products_path, method: :get, local: true, class: "d-flex mx-3 flex-grow-1 justify-content-center" do |f| %>
    <%= f.text_field :product_name_cont,value: @query, class: "form-control me-2 custom-search", placeholder: t("layouts.header.search.placeholder"), aria: { label: t("layouts.header.search.placeholder") } %>
    <%= f.submit t("layouts.header.search.search_button"), class: "btn btn-outline-success" do %>
      <i class="bi bi-search"></i>
    <% end %>
  <% end %>

  <div class="filter_show">
    <div class="col-md-3 filter-frame">
      <%= search_form_for @q, url: admin_products_path, method: :get do |f| %>
        <div class="form-group">
          <%= f.label :category_id_eq, t("products.search.category") %>
          <%= f.collection_select :category_id_eq, @categories, :id, :category_name, {include_blank: true}, {class: "form-control"} %>
        </div>
        <%= f.hidden_field :product_name_cont, value: @query %>

        <div class="form-group">
          <%= f.label :price_range, t("products.search.price_range") %>
          <div class="price-range-filter__inputs d-flex align-items-center">
            <%= f.number_field :price_gteq, class: "form-control me-2", min: 0 %>
            <span class="me-2">-</span>
            <%= f.number_field :price_lteq, class: "form-control ms-2", min: 0 %>
          </div>
        </div>

        <div class="form-group">
          <%= f.label :rating_gteq, t("products.search.rating_min") %>
          <%= f.number_field :rating_gteq, class: "form-control", step: 0.1, min: 0 %>
        </div>

        <%= f.submit t("products.search.filter"), class: "btn btn-primary" %>
      <% end %>
    </div>

    <div>
      <div class="sort-product">
        <div class="sort-by">
            <%= sort_link @q, :rating, t("products.search.rating") %>
          </div>
          <div class="sort-by">
            <%= sort_link @q, :price, t("products.search.price") %>
          </div>
          <div class="sort-by">
            <%= sort_link @q, :sold, t("products.search.sold") %>
          </div>
          <%= link_to t("admin.products.add_product.add_button"), new_admin_product_path, class: "add-button" %>
      </div>
      <div>
        <div class="title-line">
          <p><%= t "admin.products.show_title.product" %></p>
          <p><%= t "admin.products.show_title.category" %></p>
          <p><%= t "admin.products.show_title.price" %></p>
          <p><%= t "admin.products.show_title.stock" %></p>
          <p><%= t "admin.products.show_title.sold" %></p>
          <p><%= t "admin.products.show_title.edit" %></p>
          <p><%= t "admin.products.show_title.delete" %></p>
        </div>
        <% if @products_search.present? %>
          <%= render partial: "admin/products/admin_product_list", collection: @products_search, as: :product %>
        <% elsif @products_filtered.present? %>
          <%= render partial: "admin/products/admin_product_list", collection: @products_filtered, as: :product %>
        <% end %>
        <%== pagy_bootstrap_nav @pagy %>
      </div>
    </div>
  </div>
</div>
