<% provide :title, t(".title") %>
<h1><%= t ".title" %></h1>

<p><%= t(".search_result_for", query: @query, count: @total_results) %></p>
<div class="row">
  <div class="col-md-3">
    <%= search_form_for @q, url: filter_by_category_products_path, method: :get do |f| %>
      <div class="form-group">
        <%= f.label :category_id_eq, t(".category") %>
        <%= f.collection_select :category_id_eq, @categories, :id, :category_name, {include_blank: true}, {class: "form-control"} %>
      </div>
      <%= f.hidden_field :product_name_cont, value: @query %>

      <div class="form-group">
        <%= f.label :price_range, t(".price_range") %>
        <div class="price-range-filter__inputs d-flex align-items-center">
          <%= f.number_field :price_gteq, class: "form-control me-2", min: 0 %>
          <span class="me-2">-</span>
          <%= f.number_field :price_lteq, class: "form-control ms-2", min: 0 %>
        </div>
      </div>

      <div class="form-group">
        <%= f.label :rating_gteq, t(".rating_min") %>
        <%= f.number_field :rating_gteq, class: "form-control", step: 0.1, min: 0 %>
      </div>

      <%= f.submit t (".filter"), class: "btn btn-primary" %>
    <% end %>
  </div>

  <div class="product-show col-md-9">
    <% if @total_results.zero? %>
      <p><%= t ".no_products_found", query: @query %></p>
    <% else %>
      <div class="row">
        <div class="col-3"></div>
        <div class="col-3">
          <%= sort_link(@q, :rating, t(".rating")) %>
        </div>
        <div class="col-3">
          <%= sort_link(@q, :price, t(".price")) %>
        </div>
        <div class="col-3">
          <%= sort_link(@q, :sold, t(".sold")) %>
        </div>
      </div>
      <ul id="product-display" class="product-display-list">
        <% if @products_search.present? %>
          <%= render partial: "products/product_list", collection: @products_search, as: :product %>
        <% elsif @products_filtered.present? %>
          <%= render partial: "products/product_list", collection: @products_filtered, as: :product %>
        <% end %>
      </ul>
      <%== pagy_bootstrap_nav(@pagy) %>
    <% end %>
  </div>
</div>
